<div class="well">
    <div class="row">
        <div class="col-xs-12">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis natus error quisquam, veritatis iure ipsa et! Aperiam, delectus at mollitia odit, velit modi voluptatum debitis dignissimos non alias possimus suscipit!
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
        </div>
    </div>
</div>