<!DOCTYPE html>
<html lang="en" ng-app="groceryStore">
<head>
    <meta charset="UTF-8">
    <title>Grocery Store</title>
    <link rel="stylesheet" href="vendor/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Grocery Store</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="#/about">About</a></li>
                </ul>
                <div class="pull-right" ng-controller="smallCartCtrl">
                    <b>{{items.length}}</b>
                    Items in cart
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1>The Grocery Store</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi asperiores magnam unde itaque distinctio nisi saepe, sed eum rem officiis, molestias deleniti iusto. Temporibus at perspiciatis quis blanditiis eos cupiditate.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
        <section class="row">
            <article ng-controller="listCtrl" class="col-sm-9">
                <div ng-view></div>
            </article>
            <article ng-controller="cartCtrl" class="col-sm-3">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Cart</h3>
                        </div>
                    </div>
                    <div class="row" ng-repeat="item in cart track by $index">
                        <div class="col-xs-8">
                            {{item.name}}
                        </div>
                        <div class="col-xs-4 text-right">
                            <a href="" ng-click="removeFromCart($index)" class="btn btn-danger btn-small">
                                x
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-route/angular-route.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/list.controller.js"></script>
    <script src="js/cart.controller.js"></script>
    <script src="js/smallcart.controller.js"></script>
    <script src="js/cart.service.js"></script>
    <script src="js/about.controller.js"></script>
</body>
</html>