<!DOCTYPE html>
<html lang="en" ng-app="groceryStore">
<head>
    <meta charset="UTF-8">
    <title>Grocery Store</title>
    <link rel="stylesheet" href="vendor/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Grocery Store</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
                <div class="pull-right" ng-controller="smallCartCtrl">
                    <b>{{items.length}}</b>
                    Items in cart
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1>The Grocery Store</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi asperiores magnam unde itaque distinctio nisi saepe, sed eum rem officiis, molestias deleniti iusto. Temporibus at perspiciatis quis blanditiis eos cupiditate.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
        <section class="row">
            <article ng-controller="listCtrl" class="col-sm-9">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Insert a new product:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <form ng-submit="addProduct()" ng-init="products = []">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select ng-model="newProduct.category" ng-options="category for category in categories" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input ng-model="newProduct.name" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input ng-model="newProduct.quantity" type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 text-right">
                                <div class="form-group">
                                    <button class="btn btn-primary label-top">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Product List</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <input ng-model="query.category" class="form-control" type="text" placeholder="Filter by category"/>
                        </div>
                        <div class="col-sm-4">
                            <input ng-model="query.name" class="form-control" type="text" placeholder="Filter by name"/>
                        </div>
                        <div class="col-sm-4">
                            <input ng-model="query.quantity" class="form-control" type="text" placeholder="Filter by quantity"/>
                        </div>
                    </div>
                </div>
                <div class="well" ng-repeat="product in products | filter:query">
                    <div class="row">
                        <div class="col-sm-3">{{product.category}}</div>
                        <div class="col-sm-3">{{product.name}}</div>
                        <div class="col-sm-3">{{product.quantity}}</div>
                        <div class="col-sm-3">
                            <a href="" ng-click="addToCart(product)" class="btn btn-primary">Buy</a>
                        </div>
                    </div>
                </div>
            </article>
            <article ng-controller="cartCtrl" class="col-sm-3">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Cart</h3>
                        </div>
                    </div>
                    <div class="row" ng-repeat="item in cart track by $index">
                        <div class="col-xs-8">
                            {{item.name}}
                        </div>
                        <div class="col-xs-4 text-right">
                            <a href="" ng-click="removeFromCart($index)" class="btn btn-danger btn-small">
                                x
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <script src="vendor/angular/angular.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>